<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <div class="media-body">
    <small style="font-size:1.1em;font-weight:bold">
      <%= comment.user.name %>
    </small>
    <small style="font-size:0.7em;">
      <%= time_ago_in_words(comment.created_at) %> ago
    </small>
    <!-- implement method auth for comment asap! -->
    <p><%= comment.body %></p>
  </div>
<% end %>
