<div id="comment-container">
  <%= form_for [post, comment], remote: true do |f| %>
   <div class="form-group" id="comment-input">
     <%= f.label :body, class: 'sr-only' %>
     <%= f.text_field :body, class: 'form-control', placeholder: "Write a comment" %>
   </div>
  <% end %>
</div>
