<div id="index-topics-container">
  <h1>Topics</h1>
    <div id="topics-container">
      <% if user_is_authorized_for_topics? %>
        <div class="col-md-4 col-topic">
          <%= link_to "New Topic", new_topic_path, class: 'btn btn-new-topic' %>
        </div>
      <% end %>
      <div class="row">
       <div class="col-md-8" style="margin-top:50px;">
         <% @topics.each do |topic| %>
           <div class="media">
             <div class="media-body">
               <h4 class="media-heading">
                 <%= link_to topic.name, topic %><span style="margin-left:15px;" class="label label-new">New</span> <span style="margin-left:15px;" class="label label-trend">Trending</span>
               </h4>
               <small>
                 <%= topic.description %>
               </small>
             </div>
           </div>
         <% end %>
       </div>
    </div>
  </div>
</div>
