<div class="form-group">
  <%= f.text_field :labels,
                  class: 'form-control',
                  placeholder: "Tags... (separated by commas)",
                  value: labels.map(&:name).join(', ') %>
</div>
