<%= render partial: 'layouts/navbarprofile' %>

<div id="show-posts-profile-container">
  <h4><%= @user.name %>'s posts</h4>
  <% if @user.posts.count == 0 %>
    <p>Nothing to show</p>
  <% else %>
    <%= render @user.posts %>
  <% end %>

</div>
