<%= render partial: 'layouts/navbar' %>

<div id="new-post-container">
  <div id="new-post-title">
    <h1>NEW POST</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
    </div>
  </div>
</div>
