@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt');


body {
  width: 100%;
  height: 580px;
  background-color: #ecf0f1;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 40px;
  margin:0;
}

#nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  height: 50px;
  font-family: Open Sans;
}

.logo-font {
  font-family: 'Rock Salt';
  font-size: 0.8em;
}

#left-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav li a {
  color: white;
  text-decoration: none;
}


#left-menu li:hover {
  border-bottom: 2px solid #FF9800;
}

#nav-left {
  display: flex;
  flex-direction: row;
}

#nav-left li {
  padding: 10px;
}

.nav-right {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-right li:first-child {
  color: white;
}

.nav-right li:nth-child(2) {
  padding: 10px;
  color: white;
}

.nav-right li {
  padding: 5px;
}

.nav-right li:last-child:hover {
  background-color: #143270;
  border-radius: 1px;
}

#index-container {
  width: 100%;
  height: 600px;
  background-image: url(../bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#desc-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#desc-index-container h1 {
  font-size: 5em;
  color: #FF9800;
  font-family: Rock Salt;
}

#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

#description p {
  color: white;
  text-shadow: 1px 1px #145666;
  font-family: Open Sans;
  margin-top: 80px;
}

#description p:first-child {
  font-size: 1.5em;
  width: 550px;
  text-align: center;
}

#sign-button {
  margin-top: 30px;
}

.btn-sign {
  background-color: white;
  color: #FF9800;
}

#description p a:hover {
  color: #FF9800;
}

.btn-sign:hover {
  border-bottom: 1px solid #FF9800;
}

#signin:hover {
  background-color: #143270;
  border-radius: 1px;
}

footer {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

#footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subcat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.subcat ul li {
  list-style-type: none;
  color: rgb(255, 152, 0);
}

.subcat li img {
  width: 25px;
  height: 25px;
  margin: 10px;
}

#body {
  background-color: white;
}

#index-topics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

#index-topics-container h1 {
  color: #FF9800;
  font-size: 4em;
  text-transform: uppercase;
  margin-left: 20px;
}

#h1-topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#tops {
  width: 400px;
  height: 5px;
  background-color: #FF9800;
  margin-top: 200px;
}

#h1-topic img {
  width: 60px;
  height: 60px;
}

#topics-container {
  margin: 50px;
}

#topics-container a {
  color: #FF9800;
  margin-left: 20px;
  font-size: 1.2em;
}

#topic-container {
  background-color: #ecf0f1;
  padding: 35px;
}

#topics-container small {
  color: #143270;
  text-align: justify;
}

#add-topic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-topic img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

#donate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#show-topics-container {
  background-color: white;
  padding: 50px;
}

#show-topics-container h1 h4 {
  color: #143270;
}

#show-topics-container h4 a {
  color: #143270;
}

#show-topics-container h3 {
  color: #db6a6c;
}

#show-post-container {
  background-color: white;
  padding: 50px;
}

#show-post-container h1 h4 {
  color: #143270;
}

#show-post-container h4 a {
  color: #143270;
}

#show-post-container h4 {
  color: #db6a6c;
}

#sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  background-color: white;
}

#sign-container h2 {
  font-size: 3em;
  margin-bottom: 30px;
  color: #143270;
}

#sign-container input {
  width: 300px;
  border: 1px solid #143270;
}

#sign-container input:focus {
  outline: none;
}

#sign-container input[type=submit] {
  background-color: #02112e;
  padding: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
}

#sign-container input[type=submit]:hover {
  border: 1px solid #db6a6c;
  background-color: #db6a6c;
  color: #02112e;
}

.signin-focus input:focus {
  background-color: #143270;
  color: white;
}

#separate {
  width: 100%;
  height: 1px;
  background-color: #bdc3c7;
  margin-top: 20px;
}

#likenshare {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

#likenshare img {
  width: 20px;
  height: 20px;
}

#like {
  display: flex;
  flex-direction: row;
}

#like p {
  color: #FFC107;
  margin-left: 5px;
}

#like:hover {
  text-decoration:none;
}

#share {
  display: flex;
  flex-direction: row;
  color: #143270;
  margin-left: 20px;
}

#share p {
  color: #143270;
  margin-left: 5px;
}

#comment-container {
  margin-top: 30px;
}

#comment-container input {
  border-radius: 2px;
}

.label-trend {
  background-color: #673AB7;
}

.label-new {
  background-color: #03A9F4;
}

.label-container {
  background-color: #F44336;
  color: white;
}

.label-container:hover {
  background-color: #F44336;
  color: white;
  text-decoration: underline;
}

.btn-new-topic {
  background-color: #02112e;
  margin-bottom: 60px;
}

.new-topic-inputs {
  padding: 50px;
}

.new-topic-inputs input {
  width: 400px;
}

.new-topic-inputs input textarea {
  width: 600px;
}

.vote-arrows {
   width: 40px;
   text-align: center;
 }

#new-post-container {
 background-color: white;
 padding: 50px;
}

#submit-new-post input[type=submit] {
  color: white;
}

#new-post-container h1 {
  color: #02112e;
}

.btn-new-post {
  background-color: #02112e;
}

.glyphicon-star {
  color: #FFC107;
}

.glyphicon-star-empty {
  color: #F44336;
}

.gravatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#show-profile-container {
  background-color: white;
}

.alert-done {
  background-color: #bdc3c7;
  color: white;
  font-weight: bold;
  width: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}



@import "bootstrap-sprockets";
@import "bootstrap";
