@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Playfair+Display');


body {
  width: 100%;
  height: 580px;
  background-color: #ecf0f1;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 40px;
  margin:0;
}

#nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  height: 50px;
  font-family: Open Sans;
}

.logo-font {
  font-family: 'Rock Salt';
  font-size: 0.8em;
}

#left-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav li a {
  color: white;
  text-decoration: none;
}


#left-menu li:hover {
  border-bottom: 2px solid #FF9800;
}

#nav-left {
  display: flex;
  flex-direction: row;
}

#nav-left li {
  padding: 10px;
}

.nav-right {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-right li:first-child {
  color: white;
}

.nav-right li:nth-child(2) {
  padding: 10px;
  color: white;
}

.nav-right li {
  padding: 5px;
}

#index-container {
  width: 100%;
  height: 600px;
  background-image: url(../bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#desc-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#desc-index-container h1 {
  font-size: 5em;
  color: #FF9800;
  font-family: Rock Salt;
}

#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

#description p {
  color: white;
  text-shadow: 1px 1px #145666;
  font-family: Open Sans;
  margin-top: 80px;
}

#description p:first-child {
  font-size: 1.5em;
  width: 550px;
  text-align: center;
}

#sign-button {
  margin-top: 30px;
}

.btn-sign {
  background-color: white;
  color: #FF9800;
}

#description p a:hover {
  color: #FF9800;
}

.btn-sign:hover {
  border-bottom: 1px solid #FF9800;
}

#signin:hover {
  background-color: #143270;
  border-radius: 1px;
}

footer {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

#footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Open Sans;
}

.subcat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.subcat ul li {
  list-style-type: none;
  color: rgb(255, 152, 0);
}

.subcat li img {
  width: 25px;
  height: 25px;
  margin: 10px;
}

#body {
  background-color: white;
}

#index-topics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
  margin-top: 10px;
  font-family: Open Sans;
}

#index-topics-container h1 {
  color: #FF9800;
  font-size: 4em;
  text-transform: uppercase;
  margin-left: 20px;
}

#h1-topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

#tops {
  width: 400px;
  height: 5px;
  background-color: #FF9800;
  margin-top: 200px;
}

#h1-topic img {
  width: 60px;
  height: 60px;
}

#topics-container {
  margin: 50px;
}

#topics-container a {
  color: #FF9800;
  margin-left: 20px;
  font-size: 1.2em;
}

#topic-container {
  background-color: #ecf0f1;
  padding: 35px;
}

#topics-container small {
  color: #143270;
  text-align: justify;
}

#topic-title {
  width: 100%;
  height: auto;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
}

#topic-title h1 {
  color: #FF9800;
  text-shadow: 2px 2px white;
  text-transform: uppercase;
}

#topic-title p {
  color: #FF9800;
  text-align: center;
}

#add-topic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-topic img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

#donate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#show-topic-media {
  background-color: white;
  border: 1px solid #ecf0f1;
  box-shadow: 1px 1px 1px #bdc3c7;
  width: 800px;
  height: auto;
  padding: 20px;
  font-family: Open Sans;
}

#show-topic-media small {
  color: #2c3e50;
}

#media-heading-show-posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Open Sans;
}

#media-heading-show-posts p:first-child {
  font-size: 1.2em;
}

#media-heading-show-posts p:first-child a {
  color: #00BCD4;
}

#media-heading-show-posts p:last-child {
  margin-left: 20px;
}

#media-heading-show-posts p:last-child a {
  color: white;
}

#show-topics-container {
  background-color: white;
  padding: 40px;
  font-family: Open Sans;
}

#show-posts-topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Open Sans;
}

#show-topics-container h1 h4 {
  color: #143270;
}

#show-topics-container h4 a {
  color: #143270;
}

#show-topics-container h3 {
  color: #FF9800;
}

#show-post-container {
  background-color: white;
  padding: 50px;
  margin-top: 100px;
}

#show-post-container h1 h4 {
  color: #143270;
}

#show-post-container h4 a {
  color: #143270;
}

#show-post-container h4 {
  color: #db6a6c;
}

#sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  background-color: white;
}

#sign-container h2 {
  font-size: 3em;
  margin-bottom: 30px;
  color: #143270;
}

#sign-container input {
  width: 300px;
  border: 1px solid #143270;
}

#sign-container input:focus {
  outline: none;
}

#sign-container input[type=submit] {
  background-color: #02112e;
  padding: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
}

#sign-container input[type=submit]:hover {
  border: 1px solid #db6a6c;
  background-color: #db6a6c;
  color: #02112e;
}

.signin-focus input:focus {
  background-color: #143270;
  color: white;
}

#separate {
  width: 100%;
  height: 1px;
  background-color: #bdc3c7;
  margin-top: 20px;
}

#likenshare {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

#likenshare img {
  width: 20px;
  height: 20px;
}

#like {
  display: flex;
  flex-direction: row;
}

#like p {
  color: #FFC107;
  margin-left: 5px;
}

#like:hover {
  text-decoration:none;
}

#share {
  display: flex;
  flex-direction: row;
  color: #143270;
  margin-left: 20px;
}

#share p {
  color: #143270;
  margin-left: 5px;
}

#comment-container {
  margin-top: 70px;
}

#post-user-comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#post-user-comment-container img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#comment-user-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 10px;
}

#comment-user-name p {
  font-weight: bold;
  font-size: 1.1em;
  color: #FF9800;
}

#comment-body-container {
  padding: 20px;
  font-family: Playfair Display;
  font-size: 1.1em;
}

#comment-user-name small {
  font-style: italic;
}

#cont-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#cont-2 img {
  width: 15px;
  height: 15px;
  margin-bottom: 40px;
}

.comment-design {
  border: 1px solid #ecf0f1;
  padding: 10px;
}

#comment-container input {
  border-radius: 2px;
}

.label-trend {
  background-color: #673AB7;
}

.label-new {
  background-color: #03A9F4;
}

.label-container {
  background-color: #ecf0f1;
  color: #bdc3c7;
}

.label-container:hover {
  color: #2c3e50;
  text-decoration: none;
}

.btn-new-topic {
  background-color: #02112e;
  margin-bottom: 60px;
}

.new-topic-inputs {
  padding: 50px;
}

.new-topic-inputs input {
  width: 400px;
}

.new-topic-inputs input textarea {
  width: 600px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.vote-arrows img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

#new-post-container {
 background-color: white;
 padding: 50px;
}

#new-post-title {
  margin-bottom: 50px;
}

#form-style input[type=text]:first-child {
  border: none;
  box-shadow: none;
  font-size: 3em;
  font-family: Playfair Display;
  padding: 30px;
}

#form-style input[type=text]:first-child:focus {
  border-bottom: 1px solid #ecf0f1;
}

#form-style input[type=text]:last-child {
  border: none;
  box-shadow: none;
  font-size: 2em;
  font-family: Playfair Display;
  padding: 30px;
}

#form-style input[type=text]:last-child:focus {
  border-bottom: 1px solid #ecf0f1;
}

#form-style textarea {
  border: none;
  box-shadow: none;
  font-size: 1.5em;
  font-family: Playfair Display;
  padding: 30px;
  height: 300px;
  border-left: 2px solid #ecf0f1;
}

#form-style textarea:focus {
  border-left: 2px solid #ecf0f1;
}

#form-style input[type=submit] {
  margin: 30px;
}

#new-post-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#submit-new-post input[type=submit] {
  border-radius: 45px;
  background-color: white;
  border: 1px solid #00BCD4;
  color: #00BCD4;
  font-family: Open Sans;
}

#submit-new-post input[type=submit]:hover {
  background-color: #00BCD4;
  color: white;
}

#publish-save {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

#publish-save button {
  background-color: white;
  border: 1px solid #FF9800;
  color: #FF9800;
  font-family: Open Sans;
  border-radius: 40px;
  padding: 6px;
  margin-top: 30px;
}

#publish-save button:hover {
  background-color: #FF9800;
  border: 1px solid #FF9800;
  color: white;
  font-family: Open Sans;
  border-radius: 40px;
  padding: 6px;
  margin-top: 30px;
}

#new-post-md-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#md-cheatsheet {
  background-color: white;
  border: 1px solid #ecf0f1;
  box-shadow: 1px 1px 1px #bdc3c7;
  width: 300px;
  height: 300px;
  margin-left: 50px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#md-desc p {
  color: #95a5a6;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Open Sans;
  text-transform: uppercase;
  border-bottom: 2px solid #FF9800;
}

#cheat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#cheat div {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 6px;
  background-color: #00BCD4;
  color: white;
  font-family: Open Sans;
  font-size: 0.8em;
  border-radius: 8px;
  margin: 5px;
}

#cheat div a {
  color: white;
}

#new-post-container h1 {
  color: #02112e;
}

.btn-new-post {
  background-color: #02112e;
}

.glyphicon-star {
  color: #FFC107;
}

.glyphicon-star-empty {
  color: #F44336;
}

.gravatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#show-posts-profile-container {
  background-color: #fafafa;
  font-family: Open Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert-done {
  background-color: #bdc3c7;
  color: white;
  font-weight: bold;
  width: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#post-body-container {
  padding: 10px;
  border: 1px solid #ecf0f1;
  height: 300px auto;
  font-family: Playfair Display;
  font-size: 1.5em;
}

#post-user-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #2c3e50;
}

#post-user-show img {
  border-radius: 50%;
}

#post-user-order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 10px;
}

#post-user-order p:first-child {
  font-weight: bolder;
}

#post-user-order p:last-child {
  font-style: italic;
}

#show-post-title-container {
  font-family: Open Sans;
}

#show-post-title-container h1 {
  color: #00BCD4;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 50px;
}

#show-post-title-container small {
  font-size: 1em;
  color: #2c3e50;
}

#show-post-title-container small span {
  font-weight: bolder;
  color: #F44336;
}

#comment-input input {
  border: 1px solid #ecf0f1;
  padding: 35px;
  color: #2c3e50;
  font-size: 1.2em;
  font-family: Open Sans;
  font-style: italic;
}

#comments-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#comments-icon-container img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

#js-comments-count {
  margin-right: 10px;
}

.navbar-others ul {
  border-bottom: 1px solid #ecf0f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  height: 50px;
  font-family: Open Sans;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-others li a {
  text-decoration: none;
}

#left-title {
  display: flex;
  align-items: center;
}

#left-title img {
  width: 40px;
  height: 40px;
}

#cat-menu li a {
  color: #7f8c8d;
}

#cat-menu li a:hover {
  color:#2c3e50;
}

#cat-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 5px;
}

#cat-menu li {
  padding: 20px;
}

#cat-menu li:last-child {
  padding-right: 45px;
}

.nav-right-others img:first-child {
  width: 20px;
  height: 20px;
}

.nav-right-others img:nth-child(2) {
  width: 20px;
  height: 20px;
}

#user-show-post {
  width: 600px;
  height: 300px;
  background-color: white;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  position: relative;
}

#navbar-profile {
  border-bottom: 1px solid #ecf0f1;
  height: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#profile-position img {
  border-radius: 50%;
}

#profile-position {
  margin-left: 400px;
}

#profile-info {
  padding-left: 50px;
}

#profile-info-user {
  font-family: Open Sans;
  font-size: 2.5em;
  font-weight: bold;
  color: #2c3e50;
}

#small-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5x;
}

#followers {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Open Sans;
  width: 400px;
}

#followers p:last-child {
  margin-left: 10px;
}

#followers img {
  width: 15px;
  height: 15px;
}

#social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#social img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 0px;
  padding: 5px;
}

#post-body a:first-child {
  font-family: Open Sans;
  font-size: 2em;
  color: #00BCD4;
}

#post-body p {
  font-family: Playfair Display;
  font-size: 1.3em;
  margin-top: 20px;
}

#post-body a:last-child {
  font-family: Playfair Display;
  color: #bdc3c7;
  font-size: 1em;
  text-decoration: underline;
  margin-left: 5px;
}

#user-writer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user img {
  border-radius: 50%;
}

#submitted p {
  font-size: 1.2em;
  color: #00BCD4;
  line-height: 10px;
}

#submitted p:last-child {
  font-size: 0.7em;
  font-style: italic;
  color: #bdc3c7;
}

#likenshare-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  bottom: 0;
  position: absolute;
  padding-bottom: 10px;
}

#likenshare-user img {
  width: 20px;
  height: 20px;
}

#user-show-labels {
  margin-left: 20px;
}




@import "bootstrap-sprockets";
@import "bootstrap";
